:root{
    --light: #f6f6f9;
    --primary: #1976D2;
    --light-primary: #CFE8FF;
    --grey: #eee;
    --dark-grey: #AAAAAA;
    --dark: #363949;
    --danger: #D32f2f;
    --light-danger: #FEC0D3;
    --warning: #Fbc02d;
    --light-warning: #FFF2c6;
    --success: #388e3c;
    --light-success: #BBF7D0;
    --home: #3c00a0;
}

.admin-content main .admin-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 16px;
    flex-wrap: wrap;

}

.admin-content main .admin-header .admin-left h1{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--dark);

}

.admin-content main .admin-header .admin-left h2{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--dark);

}

.admin-content main .admin-header .admin-left .breadcrumb{
    display: flex;
    align-items: center;
    grid-gap: 16px;

}

.admin-content main .admin-header .admin-left .breadcrumb li{
    color: var(--dark);
    
}
.admin-content main .admin-header .admin-left .breadcrumb li a{
    color: var(--dark-grey);
    cursor: pointer;

}

.admin-content main .admin-header .admin-left .breadcrumb li a.active{
    color: var(--primary);
    cursor: pointer;

}

.admin-content main .admin-header .admin-report{
    height: 36px;
    padding: 0 16px;
    border-radius: 36px;
    background: var(--primary);
    color: var(--light);
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 10px;
    font-weight: 500;

}

.admin-content main .admin-insights{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 24px;
    margin-top: 36px;

}

.admin-content main .admin-insights li{
    padding: 24px;
    background: var(--light);
    border-radius: 20px;
    display: flex;
    grid-gap: 24px;
    cursor: pointer;   
}

.admin-content main .admin-insights li .bx{
    width: 80px;
    height: 80px;
    border-radius: 10px;
    font-size: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.admin-content main .admin-insights li:nth-child(1) .bx{
    background: var(--light-primary);
    color: var(--primary);
}
.admin-content main .admin-insights li:nth-child(2) .bx{
    background: var(--light-warning);
    color: var(--warning);
}
.admin-content main .admin-insights li:nth-child(3) .bx{
    background: var(--light-success);
    color: var(--success);
}
.admin-content main .admin-insights li:nth-child(4) .bx{
    background: var(--light-danger);
    color: var(--danger);
}

.admin-content main .admin-insights li .admin-info h3{
    margin-top: 0.5em;
    font-size: 24px;
    font-weight: 600;
    color: var(--dark);
}

.admin-content main .admin-insights li .admin-info p{
    color: var(--dark);
}

.admin-content main .bottom-data{
    display: flex;
    flex-wrap: wrap;
    grid-gap: 24px;
    margin-top: 24px;
    width: 100%;
    color: var(--dark);
}

.admin-content main .bottom-data>div{
    border-radius: 20px;
    background: var(--light);
    padding: 24px;
    overflow-x: auto;
}

.admin-content main .bottom-data .admin-header{
    display: flex;
    align-items: center;
    grid-gap: 16px;
    margin-bottom: 24px;
}
.admin-content main .bottom-data .admin-header h3{
    margin-right: auto;
    font-size: 24px;
    font-weight: 600;

}

.admin-content main .bottom-data .admin-header .bx{
    cursor: pointer;

}

.admin-content main .bottom-data .admin-orders{
    flex-grow: 1;
    flex-basis: 500px;
     
}

.admin-content main .bottom-data .admin-orders table{
    width: 100%;
    border-collapse: collapse;

}

.admin-content main .bottom-data .admin-orders table th{
    color: var(--dark);
    padding-bottom: 12px;
    font-size: 13px;
    text-align: left;
    border-bottom: 1px solid var(--light);
}

.admin-content main .bottom-data .admin-orders table td{
    padding: 16px 0;

}

.admin-content main .bottom-data .admin-orders table  tr td:first-child{
    display: flex;
    align-items: center;
    grid-gap: 12px;
    padding-left: 6px;

}


.admin-content main .bottom-data .admin-orders table td img{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
}

.admin-content main .bottom-data .admin-orders table tbody tr{
    cursor: pointer;
    transition: all 0.3s ease;   
    
}

.admin-content main .bottom-data .admin-orders table tbody tr:hover{
    background: var(--grey);

}

.admin-content main .bottom-data .admin-orders table tbody tr td .status{
    
    font-size: 10px;
    padding: 6px 16px;
    color: var(--light);
    border-radius: 20px;
    font-weight: 700;

}

.admin-content main .bottom-data .admin-orders table tbody tr td .status.completed{
    background: var(--success);

}
.admin-content main .bottom-data .admin-orders table tbody tr td .status.process{
    background: var(--primary);
}

.admin-content main .bottom-data .admin-orders table tbody tr td .status.pending{
    background: var(--warning);
}

.admin-content main .bottom-data .reminders{
    flex-grow: 1;
    flex-basis: 300px;

}

.admin-content main .bottom-data .reminders .task-list{
    width: 100%;
}

.admin-content main .bottom-data .reminders .task-list li{
    width: 100%;
    margin-bottom: 16px;
    background: var(--grey);
    padding: 14px 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.admin-content main .bottom-data .reminders .task-list li .task-title{
    display: flex;
    align-items: center;

}

.admin-content main .bottom-data .reminders .task-list li .task-title p{
    margin-left: 6px;
}

.admin-content main .bottom-data .reminders .task-list li .bx{
    cursor: pointer;

}
.admin-content main .bottom-data .reminders .task-list li.completed{
    border-left: 10px solid var(--success);
}

.admin-content main .bottom-data .reminders .task-list li.not-completed{
    border-left: 10px solid var(--danger);
}

.admin-content main .bottom-data .reminders .task-list li:last-child{
    margin-bottom: 0;
}